@import url("./index.css");

.container1{
    position: relative;
    background-color:transparent;
    height: max-content;
    width: fit-content;
    border:none;
    text-align: left;
    transition: ease-in-out 100ms;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
    margin: auto;
}

.productImg{
   
    width: 100%;
    object-fit: contain;
    border-radius: 15px 15px 0 0;
    display: block;
    margin: auto;
    transition: ease-in-out 150ms;
}

.Data{
    padding: 30px 35px;
    position: relative;
    
}

.Data h4{font-size: 1.3em;

 }
    


.Data h5{
    font-size: 1.1em;
}

.Data b{
    font-size: 0.7em;
}

.addToCart{
    position: absolute;
    top: -40px;
    right: 10px;
    border-radius: 100%;
    border: none;
    padding: 3%;
    transition: ease-in-out 80ms;
    cursor: pointer;
    opacity: 0.8;
    
}

.addToCart:hover{
    opacity: 1;
    background-color:greenyellow;
    transform: scale(1.1);
}
.addToCart:active{
    transform: scale(1);
}
